/* imported fonts  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
/* shared style  */
.btn-primary {
  height: 3.4rem;
  color: #fff;
  background: #ff5400;
  cursor: pointer;
  min-width: 20%;
  border: 0;
  border-radius: 0.5rem;
}
.secondary-clr {
  color: #ff5400;
}
/* header section  */
header {
  padding: 3.75rem 8rem;
}
/* nav section  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  height: 3.5rem;
  width: 3rem;
}
.agency-name {
  display: flex;
  align-items: center;
}
.nav-title {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
}
.nav-link {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}
.nav-link > li > a {
  text-decoration: none;
  color: #424247;
}
.mobile-nav {
  display: none;
}
.mobile-nav a {
  color: rgb(26, 22, 22);
}
/* banner section  */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(Images/banner.png);
  background-size: cover;

  width: 100%;
  height: 31rem;
  border-radius: 1rem;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  padding-top: 6.5rem;
  margin: 1rem;
}
.banner-text {
  color: #d1cece;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.check-schedule {
  display: flex;
  gap: 5%;
  max-width: 75%;
  border-radius: 0.5rem;
  margin: auto;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.3);
}

.option-box {
  height: 3.2rem;
  border-radius: 0.5rem;
  border: 0;
  min-width: 20%;
}

/* main section  */
main {
  padding: 3.5rem 8rem;
}
.tour {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.tour-text {
  width: 50%;
}
.tour-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.tour-title p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.tour-image > img {
  width: 100%;
  height: 100%;
}
h3.destination-title {
  color: #131318;
  margin-top: 8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}
.destination-text {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.photo-collage {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 800;
}
.collage > p {
  padding-top: 110px;
}
.collage {
  width: 100%;
  height: 18rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.grid-image-1 {
  background-image: url(Images/Rectangle\ 5.png);
  grid-column: span 5;
}
.grid-image-2 {
  background-image: url(Images/Rectangle\ 8.png);
  grid-column: span 5;
}
.grid-image-3 {
  background-image: url(Images/Rectangle\ 6.png);
  grid-column: span 3;
}
.grid-image-4 {
  background-image: url(Images/Rectangle\ 7.png);
  grid-column: span 4;
}
.grid-image-5 {
  background-image: url(Images/Rectangle\ 9.png);
  grid-column: span 3;
}
.grid-image-6 {
  background-image: url(Images/Rectangle\ 11.png);
  grid-column: span 4;
}
.grid-image-7 {
  background-image: url(Images/Rectangle\ 10.png);
  grid-column: span 6;
}
.choose-us-title {
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}
.description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.choose-us-image {
  width: 4rem;
  height: 4rem;
}
.choose-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.hotels,
.services,
.best-price {
  border-radius: 1rem;
  padding: 2rem;
  background-size: cover;
}
.horizontal {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.hotels {
  background: rgba(251, 181, 99, 0.05);
}
.services {
  background: rgba(41, 206, 246, 0.05);
}
.best-price {
  background: rgba(233, 68, 68, 0.05);
  margin: auto;
  width: 50%;
}
/* newsletter section  */
.newsletter-mountain {
  display: flex;
  margin-top: 6rem;
  gap: 2rem;
  width: 100%;
  height: 25rem;
}
.newsletter {
  border: 1px solid #ff5400;
  border-radius: 1rem;
  width: auto;
  padding: 1rem;
}
.newsletter > h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.newsletter > p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.line {
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.input-box {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem 0rem;
  background: rgba(19, 19, 24, 0.05);
}
.sub-btn {
  color: #fff;
  width: 100%;
  height: 3.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: #ff5400;
}
.mountain-image {
  display: flex;
  justify-content: space-around;
  background-image: url(Images/rectangle12.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.offer {
  height: 20%;
  width: 35%;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #ff5400;
  margin-top: 14rem;
  transform: rotate(-20deg);
}
p.adress {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0rem;
}
.save {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 0rem;
}
.motto {
  font-size: 2rem;
  text-align: center;
}
.happy-client {
  background-image: url(Images/happy-customer.jpg);
  width: 100%;
  height: 25rem;
  background-position: center;
  border-radius: 1rem;
  background-size: cover;
}
.fbpage-link-text {
  text-align: center;
  color: #595858;
}
.fbpage-link-text > a {
  color: rgb(37, 23, 230);
  border-radius: 0.5rem;
  text-decoration: none;
}

/* footer section starts here  */
footer {
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 5rem;
}
.footer-agency {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.footer-description {
  color: #5a5a5d;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
  margin: 2rem;
}
.h-line {
  height: 1px;
  margin-left: 8rem;
  margin-right: 8rem;
  background: #766e6e;
}
.copyright {
  color: #131318;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
/* mobile devices  */
@media screen and (max-width: 600px) {
  header {
    padding: 0rem 3rem;
  }
  .nav-logo {
    height: 1rem;
    width: 1.5rem;
  }
  .nav-title {
    font-size: 1.5rem;
  }
  .nav-link {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  .banner-title {
    padding-top: 1rem;
    font-size: 1.2rem;
    margin: 0;
  }
  .banner-text {
    padding: 2rem;
    width: 85%;
    line-height: normal;
    margin: auto;
    font-size: 0.8rem;
  }
  .check-schedule {
    flex-direction: column;
    gap: 1.2rem;
    width: 60%;
  }
  main {
    padding: 0rem 3rem;
  }
  .tour {
    flex-direction: column;
  }
  .tour-text {
    width: 100%;
  }
  .tour-title {
    font-size: 1.5rem;
  }
  h3.destination-title {
    font-size: 1.5rem;
  }
  .photo-collage {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
  .choose-us-title {
    font-size: 1.5rem;
  }
  .horizontal {
    flex-direction: column;
  }
  .best-price {
    width: auto;
  }
  .choose-description {
    color: #5a5a5d;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .newsletter-mountain {
    flex-direction: column;
    height: auto;
  }
  .mountain-image {
    width: 100%;
    height: 25rem;
  }
  .h-line {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .offer {
    height: 15%;
    width: 50%;
    margin-top: 17rem;
  }
  .save {
    font-size: 1rem;
  }
}
/* medium devices  */
@media screen and (min-width: 600px) and (max-width: 960px) {
  header {
    padding: 1rem 4rem;
  }
  nav {
    flex-direction: column;
    padding-top: 1rem;
  }
  .nav-link {
    margin-bottom: 1.5rem;
  }
  .banner-title {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .check-schedule {
    flex-direction: column;
    gap: 1.2rem;
  }
  .banner-text {
    padding: 2rem;
    width: 85%;
    line-height: normal;
    margin: auto;
    font-size: 0.8rem;
  }
  .tour {
    flex-direction: column;
  }
  .tour-title {
    font-size: 1.5rem;
  }
  .tour-text {
    width: 100%;
  }
  main {
    padding: 1rem 4rem;
  }
  h3.destination-title {
    font-size: 2rem;
  }
}
